<div class="contact" style="background: url('contact.jpg') no-repeat center center; 
            background-size: cover; 
            border-radius: 12px; 
            padding: 20px;
            position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;">


  <div class="card col-md-9" style="padding: 20px; background-color: rgba(254, 254, 255);">
    <div class="row ">

      <!-- Contact Info -->
      <div class="col-md-5" >
        <h4 class="mb-3" >Get In Touch</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis commodo ligula eget dolor.</p>
        <p><strong>📍 Address:</strong>SangamMahuli Fata, Satara-Koregoan Road, Satara</p>
        <p><strong>📞 Phone:</strong> +91 96653 61907</p>
        <p><strong>✉ Email:</strong> sanjuschinese&#64;gmail.com</p>
        <p><strong>🕒 Hours:</strong> 10:00 AM - 11:00 PM</p>

        <!-- Social Icons -->
        <div class="social-icons mt-3">
          <a href="#"><i class="bi bi-facebook"></i></a> |
          <a href="#"><i class="bi bi-instagram"></i></a> |
          <a href="#"><i class="bi bi-twitter"></i></a> |
          <a href="#"><i class="bi bi-youtube"></i></a> |
        </div>
      </div>

      <!-- Contact Form -->
      <div class="col-sm-7">
        <form (ngSubmit)="submitdata()">
          <h2 class="text-right mb-4">Contact Us</h2>
          <hr class="mx-auto" style="width:120px; height:3px; background-color:#080202; border:0; border-radius:2px;">

          <!-- Name -->
          <div class="mb-3">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="con.name" required class="form-control"
              placeholder="Enter your full name">
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="con.email" required class="form-control"
              placeholder="Enter your email">
          </div>

          <!-- Message -->
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" name="message" [(ngModel)]="con.message" rows="4" required class="form-control"
              placeholder="Write your message here"></textarea>
          </div>

          <!-- Submit -->
          <button type="submit" class="btn btn-custom w-100" style="background-color: orange;">
            Send Message
          </button>
        </form>
      </div>

    </div>
  </div>
</div>