<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">Sanju's Chinese Resto</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar"
      aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav items -->
    <div class="collapse navbar-collapse" id="myNavbar">


      <!-- Guest -->

      <ul class="navbar-nav ms-auto" *ngIf="usertype =='guest'">
        <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="menu">Menu</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="feedback">Feedback</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="contact">Contact Us</a></li>
        <li class="nav-item"><a class="btn" routerLink="/login"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
        <li class="nav-item"><a class="btn btn-custom" routerLink="/adminlogin"> AdminLogin</a></li>
      </ul>

      <!-- customer -->
      <ul class="navbar-nav ms-auto" *ngIf="usertype =='customer'">
        <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="menu">Menu</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="feedback">Feedback</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="contact">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="myorders">My Orders</a></li>
        <li class="nav-item"><a class="btn btn-primary" (click)="logout()"> Logout</a></li>
      </ul>


       <!-- Admin -->
      <ul class="navbar-nav ms-auto" *ngIf="usertype =='admin'">
        <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="addmenu">Add Menu</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="vieworders">View Orders</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="viewregistration">View Registers</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="viewfeedback"> View Feedback</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="viewcontact"> View Contact</a></li>
        <li class="nav-item"><a class="btn btn-primary" (click)="alogout()"> Logout</a></li>

      </ul>


    </div>
  </div>
</nav>