<div class="section" >
<div class=" card container mt-4">
  <h2 class="text-center mb-4">Add Menu Here</h2>
  <form (ngSubmit)="submitdata()">



     <div class="mb-3">
      <label for="dishName" class="form-label">image path:</label>
      <input type="text" class="form-control" id="imgpath"  name="imgpath" [(ngModel)]="m.imagepath">
    </div>

    <!-- Dish Name (Read Only) -->
    <div class="mb-3">
      <label for="dishName" class="form-label">Name:</label>
      <input type="text" class="form-control" id="dishName"  name="dishName" [(ngModel)]="m.name" >
    </div>


    
    

    <!-- Delivery Address -->
    <div class="mb-3">
      <label for="address" class="form-label">Description:</label>
      <textarea class="form-control" id="address" rows="3" 
        name="delivaryAddress" [(ngModel)]="m.description"></textarea>
    </div>

    <div class="mb-3">
      <label for="address" class="form-label">Price:</label>
      <input type="number" class="form-control" id="price"  name="price" [(ngModel)]="m.price" >
    </div>

    

    <!-- Submit Button -->
    <div class="text-center">
    <button type="submit" class="btn btn-primary me-2">Add Menu </button>
  </div>


  </form>
</div>
</div>