<section class="hero">
  <div class="hero__inner">
    <!-- Left: Text -->
    <div class="hero__content">
      <h1 class="hero__title">
       WELL-COME TO<br />
     <span class="highlight highlight--yellow">SANJU'S</span> CHINESE
        <span class="highlight highlight--black">RESTO</span><br />
        
      </h1>

      <p class="hero__subtitle">
        From quick and easy meals to gourmet delights, we have something
        for every taste and occasion.
      </p>

      <button class="hero__btn" (click)="ordernow()">
       Order Now
      </button>
    </div>

    <!-- Right: Image -->
    <div class="hero__imageWrap">
      
      <img src="i2-removebg-preview.png" alt="Chef holding a pizza" class="hero__image" />
    </div>
    
  </div>

  <footer class="footer-simple" style="background-color: rgb(207, 209, 209);">
  <div class="footer-simple__container">
    
    <!-- Left -->
    <p>© 2026 Sanju's Chinese Resto | All Rights Reserved</p>

    <!-- Right -->
    <div class="footer-simple__right">
      <a href="#"><i class="bi bi-facebook"></i></a> |
          <a href="#"><i class="bi bi-instagram"></i></a> |
          <a href="#"><i class="bi bi-twitter"></i></a> |
          <a href="#"><i class="bi bi-youtube"></i></a> |
    </div>

  </div>
</footer>
</section>
